<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/cart.css">
  <title>Cart Page</title>
</head>
<body>
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <span class="toggle_icon" onclick="openNav()"><img src="C:\Users\sunid\Documents\5TH SEM\SE\product_recommendation\Website\static\images\toggle-icon.png" alt="Toggle Icon"></span>
            <ul>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Gift Ideas</a></li>
              <li><a href="#">New Releases</a></li>
              <li><a href="#">Today's Deals</a></li>
              <li><a href="#">Customer Service</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/fashion">Fashion</a>
    <a href="/electronic">Footwear</a>
    <a href="/jewellery">Bag</a>  
  </div>

  <!------------------------------------------------------------------------------------------------------------------------------------->
  <div class="container">
    <div class="cart">
      <div class="top">
        <h2>Shopping Cart</h2>
        <h2 id="itemA">4 items</h2>
      </div>
      <table cellspacing="0" class="table-head">
        <tr>
            <th width="150" class="head-img">Image</th>
            <th width="360">Name</th>
            <th width="150">Price</th>
            <th width="70">Delete</th>
        </tr>
      </table>  
      <table id="root" cellspacing="0"></table>
      <hr>
      </div>
         
<div class="summary">
  <div class="top">
      <h2>Order Summary</h2>
  </div>
 <div class="detail">
    <h2 id="itemB">4 items</h2>
    <h2 id="totalA">$600.00</h2>
  </div>
  <div style="margin-top: 30px; padding: 0 30px;">
    <h2>Shipping</h2>
    <input type="text" placeholder="Standard delivery">
    <h2>Promo Code</h2>
  <input type="text" placeholder="Enter your code" id="promocode">
  <button class="first-btn" id="promo" onclick="promo()">Apply</button>
  </div>
  <hr>
  <div class="top">
    <h2>Total</h2>
    <h2 id="totalB">$600.00</h2>
  </div>
  <div style="padding: 0 10px; margin-bottom: 20px;">
    <button class="checkout">Check out</button>
</div>
</div>
    <script src="../static/js/cart.js"></script>
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
  
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>

</body>
</html>
